/* @tailwind base;
@tailwind components;
@tailwind utilities; */
body{
  overflow: none;

}
::-webkit-scrollbar{
  width: 0.5rem;
}
.main-container{
  overflow:none;
  min-height: 100vh !important;
  max-height: 100vh !important;
  display: flex;
  flex-direction: column;
}
.video-container{
  /* width: 96vw; */
  margin-top:-20px;
  align-items: flex-start;
  overflow-y: scroll;
  display:flex;
  align-content: stretch;
  flex-flow:row wrap;
  height: 75vh !important;
}
.video{
  min-width:18rem;
  max-width: 19.5rem;
  border-radius: 5px;
  object-fit: contain;
  margin: 4px;
  flex:none;
}

.footer{
  bottom: 0;
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-self: center;
  justify-content: space-around;
  position: fixed;
  text-align: center;
  width: 100vw;
  /* z-index: 100; */
}
.footer-btns{
  display: flex;
  border: none;
  justify-content: flex-start;
}

.on{
  color: white;
  border-radius: 50%;
  background-color: rgb(0, 119, 255);
  padding: 10px;
  border: none;
  /* margin: 10px; */
}
.off{
  /* margin: 10px; */
  color: white;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: red;
}



.user-info-card{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.msg-bar{
  margin: 10px !important;
  width: auto;
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  width: fit-content;
  border: 2px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
 width: 280px;
}
.msg-bar span{
  cursor: pointer;
}
input {border:0;outline:0;}
input:focus {outline:none!important;}

.messages{
  display: flex;
  flex-direction: column;
  height: 75vh!important;
  overflow-y: scroll;
}

.chatCard{
  margin: 5px;
  border-radius: 5px;
  background-color: lavender;
  display: flex;
  padding: 5px;
  flex-direction: column;
  overflow-y: scroll;
}
.chatbar{
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
